<div class="container-center-horizontal">
  <form class="screen">

    

    <form class="login">

      <div class="grid login-page">
        <div class="col-1">
          <label class="label">Username</label>
          <input class="input" type="text" id="username-login" placeholder="username">
          <label class="label">Password</label>
          <input class="input" type="password" id="password-login" placeholder="Password">
        </div>
        <div class="col-2">
          <button class="yellow button" type="submit">
            Login
          </button>
        </div>
      </div>

    </form>

</div>


</form>
<script src="/js/login.js"></script>
